{% extends 'base.html.twig' %}

{% block main %}
    <h1>Weekly Meal</h1>

    <div class="list-group">
        {% for day in days %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ day.startDate.format('l') }}</h5>
                    <small>{{ day.startDate.format('Y-m-d') }}</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                <small>Donec id elit non mi porta.</small>
            </a>
        {% endfor %}
    </div>
{% endblock %}
